body {
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh;
  grid-gap: 3px;
}

header {
  background: #f1c40f;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3px;
}
.input__todo {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: span 2;
  padding: 10px;
}
.todo__header {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.uncompleted,
.completed,
.input__todo {
  background: #2ecc71;
}
