body {
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 80px;
  grid-gap: 3px;
  background: #ebebeb;
}

header {
  background: #740325;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3px;
}

form {
  display: flex;
  align-items: center;
}

ul {
  list-style-type: none;
}
.text__input {
  width: 400px;
  height: 25px;
  font-size: 15px;
}

.plus__image {
  height: 30px;
  width: 30px;
  padding: 0 20px;
  transition: transform 0.5s ease-in-out;
}

.plus__image:hover {
  transform: rotateY(0.5turn);
}

.input__todo {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: span 2;
  padding: 10px;
}
.todo__header {
  font-size: 25px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.uncompleted,
.completed,
.input__todo {
  background: #ffffff;
}

.header__title {
  color: #ebebeb;
}

.js-edit {
  margin-left: 10px;
}

.uncompleted,
.completed {
  padding: 10px 20px;
}
